.pasteCreator {
  font-family: Helvetica, sans-serif;
  height: 90vh;
  padding: 20px 50px;
}

.pasteViewer {
  font-family: Helvetica, sans-serif;
}

body {
  background: #002b36;
  margin: 0px;
}

#key-box {
  color: #fff;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: +1000;
  user-select: none;
}

#key-header-box {
  padding: 5px;
  text-align: center;
  background: #00222b;
}

#key-footer-box {
  text-align: center;
  background: #08323c;
  font-size: 0px;
  padding: 0px 5px;
}

#key-desc-box,
#messages li {
  background: #173e48;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 15px;
}

#key-desc-box .label,
#messages li {
  font-weight: bold;
}

#key-desc-box .shortcut {
  color: #c4dce3;
  font-weight: normal;
}

textarea {
  background: transparent;
  border: 0px;
  color: #fff;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: monospace;
  outline: none;
  resize: none;
  font-size: 13px;
}

/* the line numbers */
#linenos {
  color: #7d7d7d;
  z-index: -1000;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 30px; /* 30 to get 20 away from box */
  font-size: 13px;
  font-family: monospace;
  text-align: right;
}

pre {
  background: transparent !important; 
  border: 0px;
  color: #fff;
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  height: 100%;
  font-family: monospace;
  outline: none;
  resize: none;
  font-size: 13px !important;
  position: relative;
}

.linenumber {
  display: inline-block;
  text-align: center !important;
  padding: 0 !important;
  min-width: 2.25em !important;
  margin-right: 5px;
  color: #7d7d7d !important;
  background-color: #00222b; /* Background color of the line number column */
}
